# Задача №1 from RPKM to TPM

$TPM_i  = \frac{RPKM_i}{\sum_n(RPKM_n)}$

$\frac{RPKM_i}{\sum_n{RPKM_n}} = \frac{A_i}{l_i \sum_m{A_m} \cdot \sum_i{\frac{A_i}{l_i \sum_k{A_k}}}} = \frac{A_i \sum_k{A_k}}{l_i \sum_m{A_m} \sum_i{\frac{A_i}{l_i}}} = \frac{A_i}{l_i \sum_i{\frac{A_i}{l_i}}}$

In [40]:
import pandas as pd

read_file = pd.read_csv (r'C:\Users\Анастасия\Desktop\bioinformatica\test.txt', sep = '\t')

In [45]:
read_file

,Unnamed: 0,Name,468_MeCP2_NTC - linear total RPKM,468_MeCP2_sh1 - linear total RPKM,468_MeCP2_sh3 - linear total RPKM
0,NaN,A1BG,0.723,2.046,1.619
1,NaN,A1BG-AS1,2.547,4.397,3.360
2,NaN,A1CF,0.007,0.000,0.000
3,NaN,A2M,0.178,12.198,3.933
4,NaN,A2M-AS1,0.023,0.444,0.196
...,...,...,...,...,...
37991,NaN,ZYG11A,1.450,9.805,7.514
37992,NaN,ZYG11B,2.315,10.901,9.393
37993,NaN,ZYX,8.223,32.529,36.172
37994,NaN,ZZEF1,2.345,6.174,5.707
37995,NaN,ZZZ3,4.697,15.186,12.233

In [47]:
products_list = read_file.values.tolist()

In [123]:
TPM = [[None]*4 for i in range(len(products_list))]
for i in range(len(products_list)):
    TPM[i][0] = products_list[i][1]
for i in range(3):
    RPKM_sum = 0 
    for j in range(len(products_list)):
        RPKM_sum += products_list[j][2+i]
    for j in range(len(products_list)):
        TPM[j][i+1] = products_list[j][2+i]/RPKM_sum

In [128]:
def RPKM_TPM(RPKM):  #RPKM - list, первый столбец - название
    n = len(RPKM)
    m = len(RPKM[0])
    TPM = [[None]*m for i in range(n)]
    for i in range(n):
        TPM[i][0] = RPKM[i][0]
    for i in range(m):
        RPKM_sum = 0
        for j in range(n):
            RPKM_sum += TPM[j][i]
        for j in range(n):
            TPM[j][i+1] = RPKM[j][i+1]/RPKM_sum
    return TPM